/*
*************************COLORS SCHEME 1*****************************

safety orange : #ff6600;
timberwolf : #dad6d6;
moonstone blue : #74b0bf;
black coral : #555b6e;
yellow orange : #f4ac45;

*/
/*
*************************COLORS SCHEME 2*****************************

maastricht blue : 011627;
baby powder : fdfffc;
maximum blue green : 2ec4b6;
rose madder : e71d36;
bright yellow : ff9f1c;

*/

html{
	display: flex;
	flex-direction: column; /* correction bug IE de min-height non appliqué à body */
}

body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper{
	flex: 1 1 auto; /*occuper la hauteur restante*/
	display: flex;
}


aside{
	width: 25%;
}

main{
	flex: 1 0 auto;
}

article{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


article div{
	width: 10%;
}

article div:first-child{
	width: 60%;
}
